#user-preferences,
#broadcasts {
  margin: 20px;
}

#sports-select {
  width: 200px;
  border: 1px solid #ccc;
  padding: 5px;
}

#broadcast-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.broadcast {
  border: 1px solid #ccc;
  padding: 10px;
  display: none; /* Initially hidden */
}

.broadcast-bdy {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.broadcast-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.broadcast-img {
  margin-right: 40px;
  overflow: hidden;
}

.broadcast-img img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

.broadcast-txt {
  padding-right: 30px;
  font-size: 18px;
  line-height: 1.5;
}

.pl {
  padding: 20px;
}

.pl h3 {
  text-align: center;
  margin-bottom: 20px;
}

.pl-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  
}

.pl-card {
  width: 300px;
  height: 400px;
  background: #4106cc;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
  margin-bottom: 10px;
}

.pl-card .pl-card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.pl-card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 26px;
}

.pl-card .pl-job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 20px;
}

.pl-img img {
  width: 100px;
  height: 100px;
  border-radius: 20PX;
  margin: 20px 0 0 100px;
}

.pl-card .pl-bottom-section {
  margin-top: 10px;
  padding: 10px 5px;
}

.pl-card .pl-bottom-section .pl-title {
  display: block;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.pl-card .pl-bottom-section .pl-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pl-card .pl-bottom-section .pl-row .pl-item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
}

.pl-card .pl-bottom-section .pl-row .pl-item .pl-big-text {
  font-size: 30px;
  display: block;
}

.pl-card .pl-bottom-section .pl-row .pl-item .pl-regular-text {
  font-size: 15px;
}

.pl-card .pl-bottom-section .pl-row .pl-item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}

.show-content{
  display: flex;
  justify-content: space-around ;
  transition: opacity 0.5s ease-in-out;
}

.show-bdy{
  text-align: center;
  margin-top: 20px;
}

#loginMessage {
  transition: opacity 0.5s ease-in-out;
  
  text-align: center;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}





